@tailwind base;
@tailwind components;
@tailwind utilities;

.underline_header::before {
  @apply absolute content-[''] top-full  w-full  bg-blue-600 left-0 h-[3px] transform scale-0 transition-all duration-200;
}

.text-header {
  background-image: linear-gradient(
    83.84deg,
    #0088ff -6.87%,
    #a033ff 26.54%,
    #ff5c87 58.58%
  );
  -webkit-background-clip: text;
}

.shrink_header {
  @apply border-b-[1px] border-gray-100 shadow-lg shadow-gray-100/50;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
